.projectsContainer {
  flex-direction: column;
  margin: 0 16px;

  & a {
    display: inline-flex;
  }
}
.projects {
  display: flex;
  flex-direction: column;
}

.projectsTitle {
  font-weight: 700;
  color: var(--SLATE);
}
.loader {
  margin: 0 auto;
  text-align: center;
}
