.link {
  padding: 4px 8px;
  /* padding: 8px 16px; */
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.linkActive {
  padding: 4px 8px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  color: rgb(246, 70, 35);
  font-weight: 700;
  /* color: white; */
  /* border-bottom: tomato; */
}
.headerNav {
  display: none;
  /* justify-content: flex-end; */
  align-items: center;
  /* border-bottom: 1px solid var(--DARK); */
  margin: 0 16px;
  @media (width >= 768px) {
    display: flex;
  }
}

.hamburgerIcon {
  display: flex;
  justify-content: flex-start;
  /* margin: 16px 0; */

  /*  @media screen and (min-width: 768px) {
    display: none;
  } */
  @media (width >= 768px) {
    display: none;
  }
}
/* .headerNav {
  @media (width < 768px) {
    display: none;
  }
} */
.headerContainer {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 9999;
  display: flex;
  background-color: #fff;
  justify-content: flex-end;
  /* border-bottom: 1px solid var(--DARK); */
  box-shadow: 0px 3px 5px 0px #aaaaaa;
  padding: 16px;
  margin-bottom: 32px;
}
