figcaption {
  font-weight: 700;
  color: var(--SLATE);
  border-left: 1px solid var(--cornflower, #e7e9fc);
  border-right: 1px solid var(--cornflower, #e7e9fc);
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
  padding: 16px 8px;
  box-shadow: 3px 3px 10px #aaaaaa;
  text-align: center;
}
